@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
    font-family: 'Pretendard Variable', 'Noto Sans KR', sans-serif;
    text-align: left;
    overflow-wrap: break-word;
    background-color: #f5f6fa;
    color: #2f3640;
    animation: fadeIn .5s ease;
    overflow: auto;
    margin-left: 50px;
}

h1 {
    font-size: 4rem;
    margin-top: 3rem;
}

h3 {
    all: unset;
    font-weight: 700;
    display: block;
    font-size: 2rem;
}

h4 {
    all: unset;
    font-weight: 700;
    display: block;
    font-size: 1.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}